{% extends "base.html" %}

{% block title %}Home - Restaurant{% endblock %}

{% block content %}
<h1 style="text-align:centre;font-family:Arial,sans-serif;margin-bottom:20px;">{{ restaurant_name}}</h1>
<ul style="list-style:none;padding:0;max-width:500px;margin:auto;">
    {% for item in menu_items %}
        <li style="padding:15px; margin-bottom:10px;">
            <h3 style="margin:0;font-size:18px">{{ item.item_name}}</h3>
            <p style="margin:4px 0;font-size:14px;">{{ item.item_description}}</p>
            <p style="margin:0;font-weight:bold;">{{ item.item_price}}</p>
        </li>
    {% endfor %}
</ul>
<div style="text-align:centre;margin-top:20px;">
    <a href="/api/about/" style="color:#007BFF; text-decoration:none;">About Us</a>
<div>
{% endblock %}